.banner-principal-decorativo
  &-1
    animation: float1 3.9s ease-in-out infinite alternate
    position: absolute
    top: 51%
    right: 35%
  &-2
    animation: float1 3s ease-in-out infinite alternate
    position: absolute
    top: 51%
    right: 18%
  &-3
    animation: float1 2.2s ease-in-out infinite alternate
    position: absolute
    top: 51%
    right: 1%

.banner-principal__row
  .banner-principal__img
    padding: 20px 0 0!important

  
.red_gear
  background: rgb(40,63,101)
  background: -moz-linear-gradient(90deg, rgba(40,63,101,1) 0%, rgba(19,31,50,1) 100%)
  background: -webkit-linear-gradient(90deg, rgba(40,63,101,1) 0%, rgba(19,31,50,1) 100%)
  background: linear-gradient(90deg, rgba(40,63,101,1) 0%, rgba(19,31,50,1) 100%)
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#283f65",endColorstr="#131f32",GradientType=1)
  display: inline-block
  color: #fff
  padding: 5px 20px
  position: relative
  border-top-left-radius: 8px
  border-bottom-right-radius: 8px

  &:after
    content: url(../assets/curso/temas/img_01.svg)
    position: absolute
    right: -8px
    top: 6px


.numeros
  li   
    display: flex
    gap: 10px
    margin-bottom: 20px
    align-items: center
    .numero
      background-color: #EBBD9C
      padding: 0px 5px
      color: #000
      height: fit-content
    p 
      margin-bottom: 0

.bullets
  li
    background: url(../assets/curso/temas/tema2/img_69.svg) 0px 6px no-repeat
    padding-left: 20px
    p 
      margin-bottom: 0.5em

.img-auto
  height: auto
  width: auto

.txt-red
  color: #c10000

.slyder-f
  &__btn 
    i
      font-size: 1.5rem

.bg_red
  background: $color-primario
  color:#FFF
  padding: 5px 15px

.bg01
  background: url(../assets/curso/temas/tema2/img_13.svg) no-repeat
  background-size: cover
  padding: 30px 40px
  .slyder-a__bullets__item
    background-color: #B6CFE5
    &--active 
      background: #3076B6
  .slyder-a__btn--atrs, .slyder-a__btn--sigt
    background-color: #FFCF64
    border: 0 none

.bg02
  background: #fff

.bg03
  background: #FAECEC

.bg04
  background-color: #740000
  color:#fff
  font-weight: 700

.bg05
  background: #E69999
  &.cajon:before
    background: #C10000

.bg06
  background: #F2CCCC

.bg07
  background: url(../assets/curso/temas/tema3/img_16.svg) no-repeat
  background-size: cover
  .slyder-a
    &__bullets
      &__item
        background-color: #80ABD2
        border: 0 none
        &--active
          background-color: #3076B6

.bg08
  background: url(../assets/curso/temas/tema4/img_21.svg) no-repeat
  background-size: cover

.bg09
  background: url(../assets/curso/temas/tema4/img_22.svg) no-repeat
  background-size: cover

.bg10
  background: #1D476D

.bg11
  background: url(../assets/curso/temas/tema2/img_16.svg) no-repeat
  background-size: cover

.bg12
  background: $color-sistema-h

.bg13
  background: #9bc1e4

.bg14
  background-color: #740000

.bg15
  background-color:#FAEFE7

.bg16
  background-color: #EBF2F8


.titulo_sexto
  border-left: 4px solid $color-acento-contenido
  padding: 5px 0 5px 20px
  span
    font-weight: 400


.tarjeta
  &--rojo
    background:  #740000
    transition: 0.3s all
    h3 
      color:#fff
  .acordion__activo
    background: #FAEFE7
    h3
      color: #000

  .bg04
    padding: 0 10px
    margin: 0 auto 20px
    width: 60%
    @media (max-width: $bp-max-lg)
        width: 80%
  
.th_red
  thead
    border-color: $color-primario
    background-color: #E69999
    color: #000
    th
      border-color: #E69999


.tabs-a.color-azul
  .tabs-a__tab
    background: #9bc1e4
  .tabs-a__tab:hover
    background: #1D476D
    color:#fff

  .tabs-a__tab__selected
    background: #1D476D
    color:#fff
    &:before 
      background-color: #1D476D
        

@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)